@model Matrices.Models.InfoOp
@{
    ViewData["Title"] = "Ops Mat";
    ViewData["CurrentPage"] = Context.Request.Path;
}

<div class="text-center row">
    <div class="col">
        <h4 class="display-4">Fill the Matrices</h4>
    </div>
</div>
<div class="text-center row">
    <div class="col">
        <form asp-controller="Home" asp-action="Operation" method="post"><br>
            <h4>Matrix A</h4><br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Row/Column</span>
                </div>
                <input type="text" class="form-control" name="RowA" maxlength="2" size="5" value="@Model.RowA">
                <input type="text" class="form-control" name="ColA" maxlength="2" size="5" value="@Model.ColA">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" name="Operation" value="@((int)OpType.ResizeA)">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </button>
                </div>
            </div>
            @for (int i = 0; i < Model.RowA; i++)
            {
                <div class="row">
                @for (int j = 0; j < Model.ColA; j++)
                {
                    <div class="col">
                        <small class="text-secondary">A@(i)@(j)</small>
                        <input type="text" class="form-control" name="Data" size="9" value="@(Model?.MatrixA?[i][j]??0)" >
                    </div> 
                }
                <br>
                </div>
            }
            <br>
            <h4>Matrix B</h4><br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Row/Column</span>
                </div>
                <input type="text" class="form-control" name="RowB" maxlength="2" size="5" value="@Model.RowB">
                <input type="text" class="form-control" name="ColB" maxlength="2" size="5" value="@Model.ColB">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" name="Operation" value="@((int)OpType.ResizeB)">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </button>
                </div>
            </div>
            @for (int i = 0; i < Model.RowB; i++)
            {
                <div class="row">
                @for (int j = 0; j < Model.ColB; j++)
                {
                    <div class="col">
                        <small class="text-secondary">B@(i)@(j)</small>
                        <input type="text" class="form-control" name="Data" size="9" value="@(Model?.MatrixB?[i][j]??0)" >
                    </div> 
                }
                <br>
                </div>
            }
            <br>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br>
            <input type="hidden" name="RowR" value="@(Model?.Result?.Row ?? 0)">
            <input type="hidden" name="ColR" value="@(Model?.Result?.Col ?? 0)">
            <partial name="PartialCustomError.cshtml"/>
            <partial name="PartialResult.cshtml"/>
            <nav class="navbar navbar-expand-md bg-primary navbar-dark">
                <a class="navbar-brand"asp-controller="Home" asp-action="Operation">Reset / Operations</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbarOp">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbarOp">
                    <ul class="navbar-nav">
                        <partial name="PartialRto.cshtml"/>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.Swap)">
                                    A <i class="fas fa-arrows-alt-h fa-fw"></i> B
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.Addition)">
                                    A <i class="fas fa-plus"></i> B
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.Substraction)">
                                    A <i class="fas fa-minus"></i> B
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.Multiplication)">
                                    A <i class="fas fa-times"></i> B
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.TransposeA)">
                                    A<sup>T</sup>
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.TransposeB)">
                                    B<sup>T</sup>
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.InverseA)">
                                    A<sup>-1</sup>
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.InverseB)">
                                    B<sup>-1</sup>
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                        <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link text-white" 
                                    name="Operation" value="@((int)OpType.Solution)">
                                    Ax <i class="fas fa-equals"></i> B
                                    <i class="fas fa-calculator"></i>
                                </button>
                        </li>
                </div>  
            </nav>
        </form>
    </div>
    

</div>