@model Matrices.ViewModels.MatrixViewModel
@{
    ViewData["Title"] = "Result Page";
    ViewData["CurrentPage"] = Context.Request.Path;
}
<div class="row">
    <div class="col text-center">
        <h2>Result</h2>
        <table class="table table-bordered">
            <tbody>
                @foreach (List<double> row in Model.Result)
                {
                    <tr>
                        
                        @foreach (double val in row)
                        {
                            <td>@(String.Format("{0:F4}",val))</td>
                        }
                    </tr>
                } 
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-dark">Do another operation with the Matrix Result (Not working yet)</p class="text-dark">
    </div>
</div>
<div class="row">
    <div class="btn-group" role="group" aria-label="Basic example">
        <form asp-action="Sum" asp-controller="Home" method="post">
            <input type="hidden" class="form-control" name="RowA" value="@(Model.Result.Row)" >
            <input type="hidden" class="form-control" name="ColA" value="@(Model.Result.Col)" >
            <input type="hidden" class="form-control" name="RowB" value="@(Model.Result.Row)" >
            <input type="hidden" class="form-control" name="ColB" value="@(Model.Result.Col)" >
            <input type="hidden" class="form-control" name="Type" value="OpSum" >
            @foreach (List<double> row in Model.Result)
            {
                @foreach (double val in row)
                {
                    <input type="hidden" class="form-control" name="Result" value="@val" >
                }
            }
            <button type="submit" class="btn btn-secondary">Sum</button>
        </form>
        <form asp-action="Substraction" asp-controller="Home" method="post">
                <input type="hidden" class="form-control" name="RowA" value="@(Model.Result.Row)" >
                <input type="hidden" class="form-control" name="ColA" value="@(Model.Result.Col)" >
                <input type="hidden" class="form-control" name="RowB" value="@(Model.Result.Row)" >
                <input type="hidden" class="form-control" name="ColB" value="@(Model.Result.Col)" >
                <input type="hidden" class="form-control" name="Type" value="OpSub" >
                @foreach (List<double> row in Model.Result)
                {
                    @foreach (double val in row)
                    {
                        <input type="hidden" class="form-control" name="Result" value="@val" >
                    }
                }
                <button type="submit" class="btn btn-secondary">Substraction</button>
            </form>
        </button>
        <button class="btn btn-secondary">
            <a href="" class="text-white">Transpose</a>
        </button>
        <button class="btn btn-secondary">
            <a href="" class="text-white">Inverse</a>
        </button>
        <button class="btn btn-secondary">
            <a href="" class="text-white">Solution</a>
        </button>
    </div>
</div>




